.menu ul{
    background:orange ;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;

}
.menu li{
    display: inline-block;
    color: aliceblue;
    width: 120px;
    height: 40px;
    position: relative;
    line-height: 40px;

}
.menu a{
    text-decoration: none;
    color: white;
    display: block;
    transition:  all 0.3s ;
}
.menu a:hover{
    background: #f1f1f1;
    color: black;
}
.sub-menu{
    display: none;
    position: absolute;

}
.menu li:hover .sub-menu{
    display: block;

}
.anhhang{
	width: 80px;
	height: 80px;
	overflow: hidden;

	
}
.items{
	display: flex;
	flex-wrap: wrap;
	margin: 20px 40px;
	gap: 10px;
}
.danhmucsp{
	flex:1;
	flex-basis: 27%;
	display: flex;
	align-items: center;
	background:peachpuff;
	transition: .5 ease;
	overflow: hidden;
	
}
.anhhang img{
	width: 100%;
	height: 100%;
	object-fit: contain;

}
.chitietsp{
	margin-left: 5px;
}
.danhmucsp:hover{
	background: gold;
}
.danhmucsp:hover img{
	transform: scale(1.3) rotate(10deg);
	transition: 0.5s;
}